{% extends  'index.html' %} {% load static %} {% load i18n %} {% block content %} <main>
	<!-- Banner Section  -->
	<div class="banner-area inner-banner" style="background-image: url('assets/img/bg/bg2.png');">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<div class="breadcrumbs">
						<nav aria-label="breadcrumb text-center">
							<h2 class="text-white">Conatct</h2>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner Section  -->
	<!-- Counter Section  -->
	<section class="counter-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="counter-wrapper counter-wrapper-2" data-cues="slideInRight" data-delay="5">
						<a href="{% url 'doctor' %}">
							<div class="counter-item">
								<h2 class="counter counter-number">{{ doctor_count }} +</h2>
								<span class="counter-text">Expert Doctors</span>
							</div>
						</a>
						<div class="counter-item">
							<h2 class="counter counter-number">{{ user_count }}+</h2>
							<span class="counter-text">Total Registered User</span>
						</div>
						<div class="counter-item">
							<h2 class="counter counter-number">{{ contact_count }}+</h2>
							<span class="counter-text">Online Contact</span>
						</div>
						<div class="counter-item">
							<h2 class="counter counter-number">{{ report_count }}+</h2>
							<span class="counter-text">Online Report</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Counter Section  -->

	<!-- Contact Section  -->
	<section class="contact-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title text-center text-lg-start" data-cues="slideInLeft" data-delay="5">
						<h2 class="title">Our Office Inforamtion</h2>
						<p class="pt-4">Lorem Ipsum available, but the majority have suffered alteration some form, by injected humour, or randomized.</p>
					</div>
					<div class="contact-left-content">
						<div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="5">
							<div class="contact-icon">
								<i class="fas fa-envelope"></i>
							</div>
							{% csrf_token %}
							<div class="contact-text">
								<h3>Email Address:</h3>
							</div>
							<hr>
							<div class="contact-content">
								<p><a href="email:{{setting.e_mail}}">{{setting.e_mail}}</a></p>
							</div>
						</div>
						<div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="5">
							<div class="contact-icon">
								<i class="fas fa-phone-alt"></i>
							</div>
							<div class="contact-text">
								<h3>Phone Number:</h3>
							</div>
							<hr>
							<div class="contact-content">
								<p><a href="tel:{{setting.number1}}">{{setting.number1}}</a>
								</p>
								<p><a href="tel:{{setting.number2}}">{{setting.number2}}</a>
							</div>
						</div>
						<div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="5">
							<div class="contact-icon">
								<i class="fas fa-map-marker-alt"></i>
							</div>
							<div class="contact-text">
								<h3>Our Location:</h3>
							</div>
							<hr>
							<div class="contact-content">
								<p>{{setting.address1}}
								</p>
								<p>{{setting.address2}}</p>
							</div>
						</div>
						<div class="contact-item contact-item-2" data-cue="slideInLeft" data-delay="5">
							<div class="contact-icon">
								<i class="fas fa-history"></i>
							</div>
							<div class="contact-text">
								<h3>Open Hour:</h3>
							</div>
							<hr>
							<div class="contact-content">
								<p>08:00 am to 10:00 pm </p>
								<p>Sunday to Thursday</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<form method="post" action="#">
						<div class="section-title text-center text-lg-start mt-5 mt-lg-0" data-cues="slideInRight" data-delay="5"> {% csrf_token %} {% for field in contact %} <div class="form-group">
								{{ field }}
							</div> {% endfor %} <h2 class="title">Contact for Any Inquiry</h2>
							<p class="pt-4">Lorem Ipsum available, but the majority have suffered alteration form, by injected humour, or randomised words.</p>
						</div>
						<button type="submit" class="btn btn-blue btn-xl btn-round mt-5">Get Appointment</button>
				</div>
			</div>
			</form>
		</div>
		</div>
		</div>
	</section>
	<!-- Contact Section  -->

	
	<!-- Map Area -->
	<div class="map-area overflow-hidden">
		
		<iframe class="map" src="{{setting.location}}" width="1920" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- Map Area -->
</main>

</html> {% endblock %}