{%extends  'index.html'%} {% load i18n %} {%load static%} {% block content %}
<!-- Banner Section  -->
<div class="banner-area inner-banner" style="background-image: url('assets/img/bg/bg2.png');">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-12">
				<div class="breadcrumbs">
					<nav aria-label="breadcrumb text-center">
						<h2 class="text-white">Services</h2>
						<ol class="breadcrumb justify-content-center">
							<li class="breadcrumb-item">
								<a href="index-2.html">Home</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Services</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Section  -->
<!-- Counter Section  -->
<section class="counter-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="counter-wrapper counter-wrapper-2" data-cues="slideInRight" data-delay="500">
					<a href="{% url 'doctor' %}">
						<div class="counter-item">
							<h2 class="counter counter-number">{{ doctor_count }} +</h2>
							<span class="counter-text">Expert Doctors</span>
						</div>
					</a>
					<div class="counter-item">
						<h2 class="counter counter-number">{{ user_count }}+</h2>
						<span class="counter-text">Total Registered User</span>
					</div>
					<div class="counter-item">
						<h2 class="counter counter-number">{{ contact_count }}+</h2>
						<span class="counter-text">Online Contact</span>
					</div>
					<div class="counter-item">
						<h2 class="counter counter-number">{{ report_count }}+</h2>
						<span class="counter-text">Online Report</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Counter Section  -->
<!-- Service Section  -->
<section class="service-area-3 section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3">
				<div class="section-title text-center mb-5">
					<span class="subtitle" data-cue="slideInUp" data-delay="300">Our Services</span>
					<h2 class="title" data-cue="slideInUp" data-delay="500">Our Clinical Services</h2>
					<p class="pt-3" data-cue="slideInUp" data-delay="800">Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomized words.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="300">
					<div class="service-icon">
						<i class="fas fa-medkit"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Precise Diagnosis</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="500">
					<div class="service-icon">
						<i class="fas fa-stethoscope"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Annual Check-ups</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="700">
					<div class="service-icon">
						<i class="fas fa-tooth"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Dental Implants</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="900">
					<div class="service-icon">
						<i class="fas fa-baby"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Birthing Care</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="1100">
					<div class="service-icon">
						<i class="fas fa-eye"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Ophthalmology</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="service-item-3" data-cue="slideInUp" data-delay="1300">
					<div class="service-icon">
						<i class="fas fa-syringe"></i>
						<h3>02</h3>
					</div>
					<figure>
						<img src="assets/img/service/service.png" alt="Service Image">
					</figure>
					<div class="service-title">
						<h3>
							<a href="service-details.html">Covid Vaccines</a>
						</h3>
					</div>
					<div class="service-content">
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
					<div class="service-button">
						<a href="service-details.html">Read More <i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Service Section  -->
<!-- Testimonial Area -->
<section class="testimonial-area bg-blue-gr section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3">
				<div class="section-title text-center mb-5">
					<span class="subtitle wow animate__animated animate__fadeInUp">Testimonial</span>
					<h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">Our Clinic Customer Reviews</h2>
					<p class="pt-3 wow animate__animated animate__fadeInUp animate__delay-2">Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomized words.</p>
				</div>
			</div>
		</div>
		<div class="swiper testimonial-slider-active">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="testimonial-quote">
							<i class="fas fa-quote-right"></i>
						</div>
						<ul class="testimonial-review">
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
						</ul>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomized words which don't look even.</p>
						<div class="testimonial-footer">
							<div class="author-info">
								<div class="author-img">
									<img src="assets/img/testimonial/author.png" alt="Author">
								</div>
								<div class="author-text">
									<h4 class="author-name">Jony Bristow</h4>
									<span>Customer</span>
								</div>
							</div>
							<span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="testimonial-quote">
							<i class="fas fa-quote-right"></i>
						</div>
						<ul class="testimonial-review">
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
						</ul>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomized words which don't look even.</p>
						<div class="testimonial-footer">
							<div class="author-info">
								<div class="author-img">
									<img src="assets/img/testimonial/author2.png" alt="Author">
								</div>
								<div class="author-text">
									<h4 class="author-name">Addison Maya</h4>
									<span>Customer</span>
								</div>
							</div>
							<span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="testimonial-quote">
							<i class="fas fa-quote-right"></i>
						</div>
						<ul class="testimonial-review">
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
						</ul>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomized words which don't look even.</p>
						<div class="testimonial-footer">
							<div class="author-info">
								<div class="author-img">
									<img src="assets/img/testimonial/author3.png" alt="Author">
								</div>
								<div class="author-text">
									<h4 class="author-name">David Jonson</h4>
									<span>Customer</span>
								</div>
							</div>
							<span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testimonial-item">
						<div class="testimonial-quote">
							<i class="fas fa-quote-right"></i>
						</div>
						<ul class="testimonial-review">
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
							<li class="review-list">
								<i class="fas fa-star"></i>
							</li>
						</ul>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour, or randomized words which don't look even.</p>
						<div class="testimonial-footer">
							<div class="author-info">
								<div class="author-img">
									<img src="assets/img/testimonial/author3.png" alt="Author">
								</div>
								<div class="author-text">
									<h4 class="author-name">David Jonson</h4>
									<span>Customer</span>
								</div>
							</div>
							<span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<img src="assets/img/shape/shape9.png" alt="Shape" class="shape">
</section>
<!-- Testimonial Area -->
<!-- Service Section  -->
<section class="service-area mt-0 overflow-hidden">
	<div class="container">
		<div class="service-wrapper">
			<div class="row" data-cues="slideInLeft" data-delay="500">
				<div class="col-md-6 col-xl-4">
					<div class="service-item">
						<div class="service-title">
							<div class="service-icon">
								<i class="fas fa-tooth"></i>
							</div>
							<h3>Implant Dentistry</h3>
						</div>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
				</div>
				<div class="col-md-6 col-xl-4">
					<div class="service-item">
						<div class="service-title">
							<div class="service-icon">
								<i class="bi bi-shield-plus"></i>
							</div>
							<h3>Safe Observation</h3>
						</div>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
				</div>
				<div class="col-md-6 col-xl-4 d-md-none d-xl-block">
					<div class="service-item">
						<div class="service-title">
							<div class="service-icon">
								<i class="bi bi-calendar-check"></i>
							</div>
							<h3>Schedule Appointment</h3>
						</div>
						<p>Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomized.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Service Section  -->
</main> {% endblock %}