{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
  <h3>Delete Account</h3>
  <p>Are you sure you want to delete your account?</p>
  <form method="post">
    {% csrf_token %}
    <label for="password">Enter your password:</label>
    <input type="password" id="password" name="password"><br>
    <label for="confirm_delete">I confirm that I want to delete my account:</label>
    <input type="checkbox" id="confirm_delete" name="confirm_delete" value="yes"><br>
    <button type="submit">Delete Account</button>
  </form>
  
  {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
</div>
{% endblock %}
